<h1>New Weapon</h1>

<%= form_with model: @weapon do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :power_base %><br>
    <%= form.text_field :power_base %>
  </div>

  <div>
    <%= form.label :power_step %><br>
    <%= form.text_field :power_step %>
  </div>

  <div>
    <%= form.label :level %><br>
    <%= form.text_field :level %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
